h1 {
  text-align: center;
  font-size: 50px;
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(253, 181, 181);
  font-family: 'Andika';
}

ol {
  width: 450px;
  margin: 0 auto 0;
}

ol li {
  background: rgb(255, 199, 199);
  padding: 10px;
  color: black;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 6px;
}

form {
  text-align: center;
  padding: 10px;
}

.input , button {
  border: 0.5px;
  border-radius: 6px;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  background: rgb(255, 199, 199);
  font-family: 'Andika';
}

button {
  padding: 6px 18px;
  font-size: medium;
}

button:hover, .input:hover, ol li:hover {
  box-shadow: 2.5px 2.5px 2.5px black;
}

button[type=submit]:focus, .input:focus {
  background-color: rgb(255, 199, 199);
  outline: 0;
}