h1 {
  text-align: center;
  font-size: 50px;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(253, 181, 181);
  font-family: 'Andika';
}

ol {
  position: relative;
  width: 450px;
  margin: 100px auto 0;
  box-sizing: border-box;
  border-radius: 4px;
}

ol li {
  background: rgb(255, 199, 199);
  padding: 10px;
  color: black;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 6px;
}

ol li:hover {
  box-shadow: 2.5px 2.5px 2.5px black;
}

form {
  text-align: center;
  padding: 10px;
}

.input {
  border: 0.5px;
  border-radius: 4px;
  margin: 10px;
  padding: 8px;
  box-sizing: border-box;
  background: rgb(255, 199, 199);
  font-family: 'Andika';
}

button {
  font-family: 'Andika';
  border: 0.5px;
  border-radius: 4px;
  margin: 8px;
  padding: 8px 16px;
  box-sizing: border-box;
  background: rgb(255, 199, 199);
}

button:hover {
  box-shadow: 2.5px 2.5px 2.5px black;
}

.input:hover {
  box-shadow: 2.5px 2.5px 2.5px black;
}